.ss-slides-wrap {
    position: relative;
    display: inline-block;
    line-height: 0px;
}
.ss-capwrap {
    text-align:center;
    position:absolute;
    bottom:5px;
    width:100%;
    text-align: center;
}
.ss-caption {
    background: #444444; 
    border-radius:4px;
    color:#fff;    
    padding:15px 10px;
    font-family:sans-serif;
    font-size:16px;
    display: inline-block;
}
.ss-pag-wrap {
    position: absolute;
    text-align: center;
    width: 100%;
    padding-top:5px;
}
.ss-paginate {
    display: inline-block;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 4px;
    background: #444444;  
}
.ss-paginate a:link,
.ss-paginate a:visited {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin: 3px 6px;
    background: #FFF;
}
.ss-current {
    background:#36f9a5!important;
    box-shadow: inset 0 1px 0 #fff, 0 0 0 3px rgba(54, 249, 165, 0.27), 0 2px 2px #000;
}
.ss-slides {
    position:relative;
    overflow:hidden;
    display:inline-block;
    transform-origin:50% 50%;
    -ms-transform-origin:50% 50%;
    -webkit-transform-origin:50% 50%;
}
.ss-slide {
    top:0;
    left:0;
    position: absolute;
    zoom: 1;
    line-height:0;
    -webkit-backface-visibility: hidden;
}
.ss-slide:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.ss-slide img {
    max-width:100%;    
}
.notrans {
    -webkit-transition: none!important;
    -moz-transition:none!important;
    transition: none!important;
}
#ss-prev, #ss-next {
    position: absolute;
    top: 50%;
    z-index: 50;
    font-size: 55px;
    font-family: serif;
    margin-top: -20px;
    line-height: 31px;
    width: 40px;
    height: 40px;
    display: inline-block;
    color: #a7a7a7;
    background: #FFF;
    text-decoration: none;
    border-radius: 30px;
    text-align: center;
}
#ss-prev:hover, #ss-next:hover {
    color:#000;
}
#ss-prev {
    left:-23px;
}
#ss-next {
    right:-23px;
}