/* Captions */
.ss-capwrap {
    text-align:center;
    position:absolute;
    bottom:5px;
    width:100%;
    text-align: center;
}
.ss-caption {
    border-radius: 4px;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 0 0 10px rgba(41, 41, 41, 0.89);
    font-weight: bold;
    padding: 15px 10px;
    font-family: sans-serif;
    font-size: 16px;
    display: inline-block;
}

/* Pagination */
.ss-pag-wrap {
    position: absolute;
    text-align: center;
    width: 100%;
    padding-top:15px;
}
.ss-paginate {
    display: inline-block;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 4px;
    background: #fff;  
}
.ss-paginate a:link,
.ss-paginate a:visited {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    margin: 3px 6px;
    background: #F0353A;
    -webkit-transition:all .2s ease-out;
}
.ss-paginate a:hover {
    box-shadow: 0 0px 0 2px #F0353A;
}
.ss-current {
    background: #FFF!important;
    box-shadow: 0 0px 0 2px #F0353A;
}

/* Previous & Next Buttons */
#ss-prev, #ss-next {
    position: absolute;
    top: 50%;
    z-index: 50;
    font-size: 12px;
    font-family: serif;
    margin-top: -15px;
    line-height: 31px;
    width: 30px;
    height: 30px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border-radius: 17px;
    text-align: center;
    box-shadow:0 0 0 2px #fff;
    -webkit-transition:all .2s ease-out;
}
#ss-prev:hover, #ss-next:hover {
    color:#444;
    background: #fff; 
}
#ss-prev {
    left:10px;
}
#ss-next {
    right:10px;
}

/* Probably don't need to edit below here */
.ss-slides-wrap {
    position: relative;
    display: block;
    line-height: 0px;
}
.ss-slides {
    position:relative;
    overflow:hidden;
    display:block;
    transform-origin:50% 50%;
    -ms-transform-origin:50% 50%;
    -webkit-transform-origin:50% 50%;
}
.ss-slide {
    top:0;
    left:0;
    position: absolute;
    width:100%;
    zoom: 1;
    line-height:0;
    -webkit-backface-visibility: hidden;
}
.ss-slide:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.ss-slide img {
    max-width:100%;    
}
.notrans {
    -webkit-transition: none!important;
    -moz-transition:none!important;
    transition: none!important;
}